<h1>Foods</h1>

<div class="search-form">
  <%= form_with(url: foods_path, method: :get, local: true) do |form| %>
    <%= form.select :category_id,
                    options_from_collection_for_select(@food_categories, :id, :name, params[:category_id]),
                    { include_blank: "All Categories" },
                    style: "padding: 8px; margin-right: 10px;" %>
    <%= form.text_field :search, placeholder: "Search foods by name...", value: params[:search] %>
    <%= form.submit "Search" %>
  <% end %>
</div>

<% if params[:search].present? || params[:category_id].present? %>
  <p>
    <% if params[:category_id].present? && params[:category_id] != "" %>
      <% selected_category = FoodCategory.find_by(id: params[:category_id]) %>
      Filtering by category: <strong><%= selected_category&.name %></strong>
    <% end %>
    <% if params[:search].present? %>
      | Searching for: <strong><%= params[:search] %></strong>
    <% end %>
    <%= link_to "Clear all filters", foods_path %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Calories</th>
      <th>Protein (g)</th>
      <th>Carbs (g)</th>
      <th>Fat (g)</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= link_to food.name, food_path(food) %></td>
        <td><%= food.food_category.name if food.food_category %></td>
        <td><%= food.calories_per_serving %></td>
        <td><%= food.protein_grams %></td>
        <td><%= food.carbs_grams %></td>
        <td><%= food.fat_grams %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= paginate @foods %>
</div>