<h1>Foods</h1>

<div class="search-form">
  <%= form_with(url: foods_path, method: :get, local: true) do |form| %>
    <%= form.text_field :search, placeholder: "Search foods by name...", value: params[:search] %>
    <%= form.submit "Search" %>
  <% end %>
</div>

<% if params[:search].present? %>
  <p>
    Showing results for: <strong><%= params[:search] %></strong>
    <%= link_to "Clear search", foods_path %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Calories</th>
      <th>Protein (g)</th>
      <th>Carbs (g)</th>
      <th>Fat (g)</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= link_to food.name, food_path(food) %></td>
        <td><%= food.food_category.name if food.food_category %></td>
        <td><%= food.calories_per_serving %></td>
        <td><%= food.protein_grams %></td>
        <td><%= food.carbs_grams %></td>
        <td><%= food.fat_grams %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= paginate @foods %>
</div>