<h1><%= @food.name %></h1>

<div>
  <p><strong>Category:</strong> <%= @food.food_category.name if @food.food_category %></p>
  <p><strong>Calories:</strong> <%= @food.calories_per_seving %> per serving</p>
  <p><strong>Serving Size:</strong> <%= @food.serving_size %></p>

  <h3>Nutritional Information</h3>
  <p><strong>Protein:</strong> <%= @food.protein_grams %> g</p>
  <p><strong>Carbohydrates</strong> <%= @food.carbs_grams %> g</p>
  <p><strong>Fat:</strong> <%= @food.fat_grams %> g</p>
</div>

<p><%= link_to "Back to Foods", foods_path %></p>