<h1><%= @exercise.name %></h1>

<div>
  <p><strong>Type:</strong> <%= @exercise.exercise_type %></p>
  <p><strong>Target Muscle:</strong> <%= @exercise.target_muscle %></p>
  <p><strong>Equipment Needed:</strong> <%= @exercise.equipment_needed %></p>
  <p><strong>Difficulty:</strong><%= @exercise.difficulty %></p>

  <% if @exercise.image_url.present? %>
  <p><strong>Demo Image:</strong><br>
  <%= image_tag @exercise.image_url, alt: @exercise.name, style: "max-width:400px;", crossorigin: "anonymous", referrerpolicy: "no-referrer" %>
  </p>
  <% end %>

  <div>
    <h3>Instructions:</h3>
    <p><%= @exercise.instructions %></p>
  </div>
</div>

<p><%= link_to "Back to Exercises", exercises_path %></p>

<h3> Workouts Including this Exercise</h3>
<% if @exercise.workouts.any? %>
  <table>
    <thead>
      <tr>
        <th>Workout Name</th>
        <th>Date</th>
        <th>Duration</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <% @exercise.workouts.each do |workout| %>
        <tr>
          <td><%= workout.name %></td>
          <td><%= workout.date %></td>
          <td><%= workout.duration_minutes %> minutes</td>
          <td><%= workout.user.username %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This exercise is not included in any workouts yet.</p>
<% end %>